<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">

<html lang="en">


  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <title>ShitChat</title>

<nav class="navbar navbar-default navbar-fixed-top">
	<div class="navbar-header">
	<a class="navbar-brand" href="#"><strong>ShitChat</strong></a>
	</div>
  <div class="container">
    <span style="line-height:5px;">
          <form class="navbar-form navbar-right" method="POST">
	<p class="navbar-text">Currently {{logged_in}} users Poopin</p>
            <input type="submit" name="b" class="btn btn-info" value="Log In">
	    <input type="submit" name="b" class="btn btn-success" value="Sign Up">
          </form>
	</span>
  </div>
</nav>
</head>

<body style="padding-top:70px; background-image:url('./static/TextureUseamlessUtileUfloorUbu.jpg');">
<div class="container-fluid">
<div class="col-lg-3"><p></p></div>

<div class="col-lg-6">

<div class="jumbotron" style="background-color: #0B3861;">
       <center> <h2>About</h2></center><br>

	<p><center>
	    At any given moment, <b><font size="5">25 million people around the world are pooping</b></font>, more than 40 times the population of Wyoming. With over 1 million apps available and more than 10,000 magazines circulating in 2014, there exists a <b><font size="5">paradox of choice</b></font>, preventing consumers from effectively using that precious daily time. We at ShitChat have a dream of creating an <b><font size="5">online community of the world's shitters</b></font>, in which they can enjoy each others company while in the privacy of their own bathroom. Whether in <b><font size="5">direct chats with friends</b></font>, or in the <b><font size="5"> public virtual stall walls</b></font>, our users can enjoy unprecedented access to the international shitting community.<br><br>
	  <b><font size="8">  What's Poopin'? </b></font>
	</center></p>
        
    </div>

</div>


</div>
</body>

</html>
