<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> 
	<head>
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	</head>
	<body>
		<div class="panel-body">
			<ul class="list-group">
				<li class="list-group-item">
					<h2> Name of Doodle </h2>
					<h4> Contributors </h4>
				</li>
				<li class="list-group-item">
					<div style:"border:3px solid" id = "edit" width="100">
						Click here to edit
					</div>
				</li>
				<li class="list-group-item">
					
					<center><canvas style="border:3px solid" id="c" width="600" height="500"></canvas></center>
				</li>
				<li class="list-group-item">
					<div class="well well-sm" id="tools">
						<img 
							src='https://lh4.ggpht.com/lcydxe9aTLvDT5flQ4PldQQswbnrC0tR4IIpTQjPr5PI2fSSvHhlc3ENf2B6DyGZOIY=w300' 
							id='eraser' width='100'>
						<img 
					    	src="http://www.wpclipart.com/education/supplies/markers/text_marker_drawing_orange.svg"
					     	id="marker" width="100">
					    <img 
					    	src='http://upload.wikimedia.org/wikipedia/commons/thumb/9/92/Circle-green.svg/512px-Circle-green.svg.png' width='50' 
					    	id='green' style="visibility:hidden"> 
                        <img 
                        	src ='http://upload.wikimedia.org/wikipedia/commons/thumb/6/66/Circle-red.svg/512px-Circle-red.svg.png' width='50' 
                        	id='red' style="visibility:hidden">
                       	<img 
                       		src ='http://upload.wikimedia.org/wikipedia/commons/thumb/4/43/Circle-blue.svg/2000px-Circle-blue.svg.png' width='50' 
                       		id='blue' style="visibility:hidden">
					  	  
					</div>
				</li>
			</ul>    
		</div>
		<img hidden src="#" id="saved">
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1-rc2/jquery.js"></script>
		<script>
			var canvas = document.getElementById('c');
			var ctx = canvas.getContext('2d');
			var radius=0;
			var marker = document.getElementById("marker");
			var redMarker = document.getElementById("red");
			var blueMarker = document.getElementById("blue");
			var greenMarker = document.getElementById("green");
			var eraser = document.getElementById("eraser");

			var editButton = document.getElementById("edit");
			var mouseDown = 0;

			var markerSelected = false;
			var redSelected = false;
			var blueSelected = false;
			var greenSelected = false;

			var eraserSelected = false;

			var canEdit = false;
			var whiteEdits = [];
			var redEdits = [];
			var blueEdits = [];
			var greenEdits = [];

			document.body.onmousedown = function() { 
			    ++mouseDown;
			}
			document.body.onmouseup = function() {
			    --mouseDown;
			}
			window.onload = function() {
			    ctx.fillStyle ="rgba(0, 10, 25, 0)";
			    redEdits = {{wall['red']}};
			    whiteEdits = {{wall['white']}};
			    console.log(redEdits);
			    console.log(whiteEdits);

			    //load red doodles
			    ctx.fillStyle ="rgba(255, 0, 0, 1)";
			    for(var i = 0; i < redEdits[redEdits.length-1].length; i++){
			    	console.log(i);
			    	console.log(redEdits[redEdits.length-1][i]);
					ctx.beginPath();
					ctx.arc(redEdits[redEdits.length-1][i][0], redEdits[redEdits.length-1][i][1], 10, 0,2*Math.PI);
					ctx.fill();
			    }
			    //load white doodles
			    ctx.fillStyle ="rgba(255, 255, 255, 1)";
			    for(var i = 0; i < whiteEdits[whiteEdits.length-1].length; i++){
			    	console.log(i);
			    	console.log(whiteEdits[whiteEdits.length-1][i]);
					ctx.beginPath();
					ctx.arc(whiteEdits[whiteEdits.length-1][i][0], whiteEdits[whiteEdits.length-1][i][1], 10, 0,2*Math.PI);
					ctx.fill();
			    }
			};

			draw = function (e) { 
			    //draws a circle at (e.offsetX, e.offsetY) of a certain radius.
			    ctx.beginPath();
			    ctx.arc(e.offsetX, e.offsetY, radius, 0,2*Math.PI);
			    ctx.fill();
			    //stores circle data
			    if(redSelected){
			        console.log("(" + e.offsetX + ", " + e.offsetY + ") --- red marker");
			        redEdits[redEdits.length] = [e.offsetX, e.offsetY];
			    }
			    if(blueSelected){
			        console.log("(" + e.offsetX + ", " + e.offsetY + ") --- blue marker");
			        blueEdits[redEdits.length] = [e.offsetX, e.offsetY];
			    }
			    if(greenSelected){
			        console.log("(" + e.offsetX + ", " + e.offsetY + ") --- green marker");
			        greenEdits[redEdits.length] = [e.offsetX, e.offsetY];
			    }
			    if(eraserSelected){
			        console.log("(" + e.offsetX + ", " + e.offsetY + ") --- eraser");
			        whiteEdits[whiteEdits.length] = [e.offsetX, e.offsetY];
			    }
			}


			marker.addEventListener("click",function(e){
			    document.getElementById("red").style.visibility="visible";
			    document.getElementById("blue").style.visibility="visible";
			    document.getElementById("green").style.visibility="visible";

			});

			redMarker.addEventListener("click",function(e){
			    ctx.fillStyle ="rgba(255, 0, 0, 1)";
			    radius= 10;
			    eraserSelected = false;
			    markerSelected = true;
			    redSelected = true;
			    blueSelected = false;
			    greenSelected = false;

			});
			blueMarker.addEventListener("click",function(e){
			    ctx.fillStyle ="rgba(0, 0, 255, 1)";
			    radius= 10;
			    eraserSelected = false;
			    markerSelected = true;
			    redSelected = false;
			    blueSelected = true;
			    greenSelected = false;
			});
			greenMarker.addEventListener("click",function(e){
			    ctx.fillStyle ="rgba(0, 255, 0, 1)";
			    radius= 10;
			    eraserSelected = false;
			    markerSelected = true;
			    redSelected = false;
			    blueSelected = false;
			    greenSelected = true;
			});
			eraser.addEventListener("click",function(e){
			    ctx.fillStyle ="rgba(255, 255, 255, 1)";
			    radius= 10;
			    markerSelected = false;
			    redSelected = false;
			    blueSelected = false;
			    greenSelected = false;
			    eraserSelected = true;
			    document.getElementById("red").style.visibility="hidden";
			    document.getElementById("blue").style.visibility="hidden";
			    document.getElementById("green").style.visibility="hidden";
			});
			    

			editButton.addEventListener("click",function(e){
			    if(!canEdit){
			        document.getElementById("edit").innerHTML = "Now Editing - Click Here To Save";
			    }
			    else{
			        document.getElementById("edit").innerHTML = "Click Here To Edit";
			        document.getElementById("red").style.visibility="hidden";
			        document.getElementById("blue").style.visibility="hidden";
			        document.getElementById("green").style.visibility="hidden";
			        //take list of coordinates and upload to the doodle database
			        console.log(redEdits);
			        $.getJSON("/canvas/{{wall['wall_id']}}",{red:redEdits, white:whiteEdits});
			        //whiteEdits = [];
			        redEdits = [];

			    }
			    canEdit = !canEdit;
			});


			canvas.addEventListener('mousemove', function(e) {
			    if (mouseDown&canEdit){
			        draw(e);
			    }
			});
		</script>
	</body> 
</html>
