<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> 
	<head>
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	</head>
	<body>
		<div class="panel-body">
			<ul class="list-group">
				<li class="list-group-item">
					<div style:"border:3px solid" id = "edit" width="100">
						Click here to edit
					</div>
				</li>
				<li class="list-group-item">
					<center><canvas style="border:3px solid" id="c" width="900" height="500"></canvas></center>
				</li>
				<li class="list-group-item">
					<div class="well well-sm">
						<img 
					    	src="http://www.wpclipart.com/education/supplies/markers/text_marker_drawing_orange.svg"
					     	id="marker" width="100">
					  	<img 
					    	src="https://lh4.ggpht.com/lcydxe9aTLvDT5flQ4PldQQswbnrC0tR4IIpTQjPr5PI2fSSvHhlc3ENf2B6DyGZOIY=w300" 
					     	id="eraser" width="100">	  
					</div>
				</li>
			</ul>    
		</div>
		<img hidden src="#" id="saved">
	    <script src="canvas.js"></script>
	</body> 
</html>
