<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">

<html lang="en">
<form role="form" class="form-horizontal" method="POST">
          <div class="form-group">
        	   <p><input type="text" class="form-control" name="name" placeholder="Name"></p>
        	   <p><input type="text" class="form-control" name="description" placeholder="Description"></p>
		   <p><input type="text" class="form-control" name="tags" placeholder="Tags"></p>
        	   <p><input type="submit" name="b" class="btn btn-success" value="Start Poopin'">
  	         <input type="submit" name="b" class="btn btn-default" value="Cancel"></p>
          </div>
        </div>
        </form>


</html>
