<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">

<html lang="en">


  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/drop.css') }}">


    <script type=text/javascript src="{{
  url_for('static', filename='jquery.js') }}"></script>

    <script type=text/javascript src="{{
  url_for('static', filename='script.js') }}"></script>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

    <title>ShitChat</title>

<nav class="navbar navbar-default navbar-fixed-top">
	<div class="navbar-header">

	<a class="navbar-brand" href="#"><strong>ShitChat</strong></a>

	</div>
  <div class="container">
    <ul class="nav navbar-nav">
	<li><a href="/home">Home <span class="sr-only">(current)</span></a></li>
	<li><a href="/inbox">Messages <span class="sr-only">(current)</span></a></li>
	<li><a href="/walls/pop">Walls <span class="sr-only">(current)</span></a></li>
    </ul>
	<span style="line-height:5px;">
	<form class="navbar-form navbar-left search" role="search" method="POST">
        <div class="form-group">
          <input type="search" class="form-control" placeholder="Search for a Wall" name=name id="name" style="width:150px;" autoComplete="off">
	  <ul class="dropdown-menu" role="menu"  id="search-ac">
	    <li id="search-li">
	      <a href="home.html" id="one"></a>
	    </li>
	    <li id="search-li">
	      <a href="home.html" id="two"></a>
	    </li>
	    <li id="search-li">
	      <a href="home.html" id="three"></a>
	    </li>
	  </ul>
        </div>
        <input type="submit" name="b" class="btn btn-success" value="Search Wall">
	<input type="submit" name="b" class="btn btn-info" value="Create a Wall!">
      </form>
	</span>
    <span style="line-height:5px;">
          <form class="navbar-form navbar-right" method="POST">

	    <p class="navbar-text">Logged in as {{ session['first_name'] }} {{session['last_name']}}</p>
            <input type="submit" name="b" class="btn btn-danger" value="Log Out">

          </form>
	</span>
  </div>
</nav>
</head>

<body style="padding-top:70px;">
<div class="container-fluid">
<div class="row">
<div class="col-lg-3"><p></p></div>
<div class="col-lg-6">
<div class="jumbotron" style="background-color: #0B3861; overflow: scroll;">
<center><h1>Create a Wall</h1></center>

<form role="form" class="form-horizontal" method="POST">
          <div class="form-group">
        	   <p><input type="text" class="form-control" name="name" placeholder="Wall Name" required></p>
        	   <p><textarea class="form-control" name="description" placeholder="Description" required></textarea></p>
		   <h4><input type="radio" name="type" value="writing" checked> Writting Wall &nbsp;&nbsp;&nbsp; <input type="radio" name="type" value="drawing"> Drawing Wall</h4>
		   <h4>Tags:</h4>
		   <div class="col-sm-6">
			<p><input type="text" class="form-control" name="tag1"></p>
			<p><input type="text" class="form-control" name="tag2"></p>
			<p><input type="text" class="form-control" name="tag3"></p>
		   </div>
		   <div class="col-sm-6">
			
			<p><input type="text" class="form-control" name="tag4"></p>
			<p><input type="text" class="form-control" name="tag5"></p>
			<p><input type="text" class="form-control" name="tag6"></p>
		   </div>
        	   <p><input type="submit" name="b" class="btn btn-success" value="Start Poopin'">
  	         <input type="submit" name="b" class="btn btn-default" value="Cancel"></p>
          </div>
        </div>
</form>


</div>
</div>


</div>
</div></div>



</body>
</html>

