<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">

<html lang="en">


  <head>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <title>ShitChat</title>

<nav class="navbar navbar-default navbar-fixed-top">
	<div class="navbar-header">
	<a class="navbar-brand" href="#"><strong>ShitChat</strong></a>
	</div>
  <div class="container">
    <ul class="nav navbar-nav">
	<li><a href="/home">Home <span class="sr-only">(current)</span></a></li>
	<li class="active"><a href="/inbox">Messages <span class="sr-only">(current)</span></a></li>
	<li><a href="/walls">Walls <span class="sr-only">(current)</span></a></li>
    </ul>
	<span style="line-height:5px;">
	<form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search for a Wall" name="name" style="width:150px;">
        </div>
        <input type="submit" name="b" class="btn btn-success" value="search">
	<input type="submit" name="b" class="btn btn-info" value="Create a Wall!">
      </form>
	</span>
    <span style="line-height:5px;">
          <form class="navbar-form navbar-right" method="POST">
	    <p class="navbar-text">Logged in as Pooper123 {{ session['username'] }}</p>
            <input type="submit" name="b" class="btn btn-danger" value="Log Out">
	    <input type="submit" name="b" class="btn btn-primary" value="Settings">
          </form>
	</span>
  </div>
</nav>
</head>



<body style="padding-top:70px">
<div class="container-fluid">



</div>

    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    
    <form method="POST">
    {% if conversation == 0 %}
    To:<input name="usr" id="usr" type="text" value="example@email.com">
    {% else %}
    {% set rec = conversation['tag'] %}
    To: {% for n in rec %}{{n}}, {% endfor %}
    {% endif %}
      <div style="overflow:scroll; height:200px; width: 200px; border:1px solid black; scrollTop:scrollHeight" id="block">
          <p>
          {% if conversation != 0 %}
          {% set messages = conversation['messages']  %}
          {% for message in messages %}
          
          {{message[0]}}: {{message[2]}} <br>
          
          {% endfor %}
          {% endif %}
          </p>
      </div>



      <input name="textbox1" id="textbox1" type="text">
      <input name="b" onclick="send(document.getElementById('textbox1').value)" type="submit" value="send">
    </form>

    <script src="../message.js"></script>
        </body>
</html>

