<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">

<html lang="en">


  <head>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/drop.css') }}">


    <script type=text/javascript src="{{
  url_for('static', filename='jquery.js') }}"></script>

    <script type=text/javascript src="{{
  url_for('static', filename='script.js') }}"></script>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
    <title>ShitChat</title>

<nav class="navbar navbar-default navbar-fixed-top">
	<div class="navbar-header">
	<a class="navbar-brand" href="#"><strong>ShitChat</strong></a>
	</div>
  <div class="container">
    <ul class="nav navbar-nav">
	<li><a href="/home">Home <span class="sr-only">(current)</span></a></li>
	<li class="active"><a href="/inbox">Messages <span class="sr-only">(current)</span></a></li>
	<li><a href="/walls/pop">Walls <span class="sr-only">(current)</span></a></li>
    </ul>
			<span style="line-height:5px;">
	<form class="navbar-form navbar-left" role="search" method="POST">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search for a Wall" name=name id="name" style="width:150px;" autoComplete="off">
            <ul id="search-ac">
	    <br>
	    <li id="search-li">
	      <a href="home.html" id="one"><br></a>
	    </li>
	    <li id="search-li">
	      <a href="home.html" id="two"><br></a>
	    </li>
	    <li id="search-li">
	      <a href="home.html" id="three"><br></a>
	    </li>
	  </ul>
        </div>
        <input type="submit" name="b" class="btn btn-success" value="Search Wall">
	<input type="submit" name="b" class="btn btn-info" value="Create a Wall!">
      </form>
	</span>
    <span style="line-height:5px;">
          <form class="navbar-form navbar-right" method="POST">
	    <p class="navbar-text">Logged in as {{ session['first_name'] }} {{ session['last_name']}}</p>
            <input type="submit" name="b" class="btn btn-danger" value="Log Out">
          </form>
	</span>
  </div>
</nav>
</head>



<body style="padding-top:70px;">
<div class="container-fluid">

<div class="row">
<div class="col-lg-8">

    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    
    <form method="POST">
    {% if conversation == 0 %}
    To:<input name="usr" id="usr" type="text" value="example@email.com">
    {% else %}
    {% set rec = conversation['tag'] %}
    
    {% set tag = {'other':""} %}
    {% set other = "" %}
    
    {% for email in rec %}
    
    {% if email != sender %} {% set other = other + email + ", " %} {% endif %}
    
    {% if tag.update({'other': other}) %} {% endif %}
    
    {% endfor %}
    
    
    {% set other = tag['other'] %}
    {% set other = other|truncate( (other|length) - 2 , True, "") %}

<h4>Conversation with {{other}}</h4>
    {% endif %}
      <div style="overflow:scroll; height:80%; width: 100%; border:1px solid black; scrollTop:scrollHeight; padding-left:5px; background-color: #252E33;" id="MessageBlock">
          {% if conversation != 0 %}
          {% set messages = conversation['messages']  %}
          {% for message in messages %}
          {% if message[0] == session['first_name'] %}
          <h5 style="color: #0AF7FF;">{{message[0]}}:</h5>
	  <span title="{{message[1]}}"><h5 style="font-family: 'Comic Sans MS', cursive, sans-serif;">{{message[2]}}</h5></span>
	  {% else %}
      
           <h5 style="color: red;">{{message[0]}}:</h5>
	  <span title="{{message[1]}}"><h5 style="font-family: 'Comic Sans MS', cursive, sans-serif;">{{message[2]}}</h5></span>
	  {% endif %}
		<hr>
          {% endfor %}
          {% endif %}
        
      </div>

<br>
<script>
    var element = document.getElementById("MessageBlock");
    element.scrollTop = element.scrollHeight;
</script>


	<div class="row">
	<div class="col-md-10">
      <input name="textbox1" id="textbox1" type="text" class="form-control">
	</div><div class="col-md-2">
      <input name="b" onclick="send(document.getElementById('textbox1').value)" type="submit" value="send" class="btn btn-info" style="width: 100%;">
	</div>
	</div>
    </form>

</div>
<div class="col-lg-4">
<div class="jumbotron jumbotron" style="height:100%; background-color: #0B3861; overflow: scroll;">
		<div class="container-fixed-right">
		<div class="row">
		<form role="search" type="POST">
		<div class="col-sm-9">



		<input type="text" class="form-control" role="search" name="friend" id="friend" placeholder="Friend Email" autocomplete="off">
		<ul id="search-ac-friend">
		  <br>
		  <li id="search-li-friend">
		    <a href="home.html" id="friend_one"><br></a>
		  </li>
		  <li id="search-li-friend">
		    <a href="home.html" id="friend_two"><br></a>
		  </li>
		  <li id="search-li-friend">
		    <a href="home.html" id="friend_three"><br></a>
		  </li>
		</ul>
		</div>
		<div class="col-sm-2">
		<input type="submit" name="b" value="Add Friend" class="btn btn-success">
		</div></div>
		</div>
		{% if message is defined %}
		<div class="alert alert-danger alert-dismissable">{{ message }}</div>
		{% endif %}
		<center><h2>Ya Boys</h2></center>
		{% for friend in session['friends'] %}
		<h4>
		{% if friend['logged_in'] %}
		<span class="glyphicon glyphicon-ok-circle" style="color: green;"></span>
		{% else %}
		<span class="glyphicon glyphicon-remove-sign" style="color: red;"></span>
		{% endif %}
		<a href="/messages/_{{friend['email']}}_{{session['email']}}"> {{friend['first_name']}} {{friend['last_name']}}</a></h4><br>
		{% endfor %}
		</div>
		</div>
	</div>

</div></div>
    <script src="../message.js"></script>
        </body>
</html>

