<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">

<html lang="en">


  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <title>ShitChat</title>

<nav class="navbar navbar-default navbar-fixed-top">
	<div class="navbar-header">
	<a class="navbar-brand" href="#">ShitChat</a>
	</div>
  <div class="container">
    <ul class="nav navbar-nav">
	<li><a href="/home">Home <span class="sr-only">(current)</span></a></li>
	<li><a href="/messages">Messages <span class="sr-only">(current)</span></a></li>
	<li><a href="/walls">Walls <span class="sr-only">(current)</span></a></li>
    </ul>
	<span style="line-height:5px;">
	<form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search for a Wall" name="name" style="width:150px;">
        </div>
        <input type="submit" name="b" class="btn btn-success" value="search">
	<input type="submit" name="b" class="btn btn-info" value="Create a Wall!">
      </form>
	</span>
    <span style="line-height:5px;">
          <form class="navbar-form navbar-right" method="POST">
	    <p class="navbar-text">Logged in as Pooper123 {{ session['username'] }}</p>
            <input type="submit" name="b" class="btn btn-danger" value="Log Out">
	    <input type="submit" name="b" class="btn btn-primary" value="Settings">
          </form>
	</span>
  </div>
</nav>
</head>

<body style="padding-top:70px; background-image:url('./static/IMG_0326 copy.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center center; -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">
<div class="container-fluid">
<div class="row">
<div class="col-lg-3"><p></p></div>
<div class="col-lg-6">
<div class="jumbotron" style="background: rgba(100, 100, 100, 0.1); border: 0px; margin-top: 0px;">
<center>
<h3>Sample Stall Wall</h3>
</center>
<p style="font-family: 'Comic Sans MS', cursive, sans-serif;">Hello World</p>
<p style="font-family: 'Comic Sans MS', cursive, sans-serif;">Hello World</p>
<p style="font-family: 'Comic Sans MS', cursive, sans-serif;">Hello World</p>

<p style="font-family: 'Comic Sans MS', cursive, sans-serif;">Hello World</p>
<p style="font-family: 'Comic Sans MS', cursive, sans-serif;">Hello World</p>
<p style="font-family: 'Comic Sans MS', cursive, sans-serif;">Hello World</p>
<p style="font-family: 'Comic Sans MS', cursive, sans-serif; color: #00ff00;">Hello World</p>
<p style="font-family: 'Comic Sans MS', cursive, sans-serif;">Hello World</p>
<p style="font-family: 'Comic Sans MS', cursive, sans-serif;">Hello World</p>
<p style="font-family: 'Comic Sans MS', cursive, sans-serif;">Hello World</p>
<p style="font-family: 'Comic Sans MS', cursive, sans-serif;">Hello World</p>
<p style="font-family: 'Comic Sans MS', cursive, sans-serif;">Hello World</p>
<p style="font-family: 'Comic Sans MS', cursive, sans-serif;">Hello World</p>
<p style="font-family: 'Comic Sans MS', cursive, sans-serif;">Hello World</p>
<p style="font-family: 'Comic Sans MS', cursive, sans-serif;">Hello World</p>
<p style="font-family: 'Comic Sans MS', cursive, sans-serif;">Hello World</p>
<p style="font-family: 'Comic Sans MS', cursive, sans-serif;">Hello World</p>
<p style="font-family: 'Comic Sans MS', cursive, sans-serif;">Hello World</p>
<p style="font-family: 'Comic Sans MS', cursive, sans-serif;">Hello World 
0
down vote
I think for your purpose it'd be best to only worry about affix for the side nav, and use CSS positioning for your Jumbotron (just like Bootstrap does for the navbar at the top).

For the jumbotron, set the position to fixed and give it an explicit top (50px is the height of the navbar above it), set the width to 100% if you want it to stretch across the viewport, and give it an explicit height. Then set the z-index to a value higher than 1 and less than 1030 (the z-index given to the navbar by Bootstrap). This will make sure your content scrolls behind your jumbotron.</p>
<hr>
<h5><input type="text" class="form-control" placeholder="What's Poopin'?" name="post"> <input type="submit" name="b" class="btn btn-primary" value="Post"></h5>
<h5><input id="color" class="color"></h5>
</div>


</div>
</div></div>


<script type="text/javascript" src="../jscolor/jscolor.js"></script>
</body>
</html>
